@import "./matrix.less";
@import "./variables.less";

* {
  margin: 0;
  padding: 0;
}

body {
  direction: ltr;
  font-family: "Roboto Light", sans-serif;
  font-size: 16px;
}

button {
  font-family: "Roboto Light", sans-serif;
  font-size: 16px;
}
